{% extends 'layout.twig' %}

{% block header %}
    <div class="logo"></div>
    <nav>
        <a href="/" class="navitem active">Play</a><!--
     --><a href="/?page=habits" class="navitem">Habits</a><!--
     --><a href="/?page=settings" class="navitem">Settings</a><!--
     --><a href="/?logout=1" class="navitem right">Logout</a><!--
--></nav>
{% endblock %}

{% block main %}
    <h1>Glue Game Idea</h1>
    <p>
        Tower Defence game where the user spend points building or repairing defences. at first they have 1 attempt to defend a raid a day. if they defend a raid, they earn level points where they can unlock the next level/area. Where they can build new buildings. Some buildings make habits easier like having a cheat day or they help with the next next raid by allowing another attempt.
    </p>
{% endblock %}
