{% extends 'layout.twig' %}

{% block header %}
    <div class="logo"></div>
    <nav>
        <a href="/" class="navitem">Play</a><!--
     --><a href="/?page=habits" class="navitem active">Habits</a><!--
     --><a href="/?page=settings" class="navitem">Settings</a><!--
     --><a href="/?logout=1" class="navitem right">Logout</a><!--
--></nav>
{% endblock %}
