{% extends 'layout.twig' %}

{% block title %}Habit Builder - Login{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
    <form id="login_form">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
{% endblock %}