.current_habits{
    .habit {
        padding-top: 10px;
        padding-bottom: 9px;
        border-bottom: solid 1px black;

        h2{
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

.new_habit{
    
}

